
body {
  margin:20px;
}

button {
  height: 100%;
  width: 100%;
  font-size: 150%;
}

.calculationBar {
  width:190px;
  margin-bottom: 10px;
}
.calculationString {
  text-align: right;
}
.calculationBar input {
  height: 30px;
  width: 99%;
  text-align: right;
  font-size: 150%;
}

.numberPad {
  display:grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 45px [col]);
  grid-template-rows: repeat(4, 45px [row]);
}

.signInForm {
  width: 25%;
}
.signInForm input {
  height:20px;
  width: 100%;
  margin-bottom:5px;
}

.signInForm button {
  width: 50%;
}

.warning {
  background-color: tomato;
}

.topBar {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background-color: bisque;
  font-size: 115%;
}

.userStatus {
  float: right;
}